@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bruno+Ace&display=swap');

:root {
    --primary-color: #191a74;
    --secondarycolor: #004429;
    --accent1-color: #D1D3DB;
    --accent2-color: #FEFDFF;

    --heading-font: 'Bagel Fat One', serif;
    --paragraph-font: 'Bruno Ace', serif;

    --nav-background-color: #004429;
    --nav-link-color: #D1D3DB;
    --nav-link-hover-color: #FEFDFF;
    --nav-hover-background-color: #191a74;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);

}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-link-hover-color);
    background-color: var(--nav-hover-background-color);
}